* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6em;
  color: #fff;
  background: #444;
}
header {
  width: 100%;
  height: 700px;
  background: url('../assets/images/headerBkg.jpg');
  padding: 50px 100px;
}
nav {
  width: 100%;
  height: 80px;
  background: #000;
  padding-top: 9px;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
  nav > a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 1.4em;
     padding: 0 23px;
  }
  nav > a:hover {
    color: #f00;
    text-decoration: underline;
  }
#about {
  width: 100%;
  min-height: 900px;
  background: #555;
  padding: 50px 100px;
}
#skills {
  width: 100%;
  min-height: 900px;
  background: #bbb;
  padding: 50px 100px;
}
#projects {
  width: 100%;
  min-height: 900px;
  background: #555;
  padding: 50px 100px;
}
#contact {
  width: 100%;
  min-height: 900px;
  background: #bbb;
  padding: 50px 100px;
}
footer {
  width: 100%;
  height: 200px;
  background: #000;
  text-align: center;
  padding-top: 13px;
}
