
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6em;
    color: #fff;
    background: #444;
}
header {
    width: 100%;
    height: 600px;
    background: url('../assets/images/headerbkg.jpeg');
    font-size: 2.6em;
    text-align: center;
    padding-top: 200px;
    font-family: "Libertinus Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 7px #000;
}
.blue {
    color: #00f;
}
.flagpic {
    width: 350px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
    border: 3px solid #000;
    box-shadow: 3px 3px 7px #333;
}
#about {
    width: 100%;
    min-height: 700px;
    background: #999;
}  
    #aboutLeft {
     width: 50%;
     min-height: 700px;
     background: #f00;
     float: left;
     padding: 25px 50px;
     font-size: 1.3em;
}
    #aboutLeft > p {
      margin-bottom: 25px;
    }
    #aboutRight {
     width: 50%;
     min-height: 700px;
     background: #00f;
     float: left;
   }
footer {
    width: 100%;
    min-height: 100px;
    background: #222;
    text-align: center;
    padding-top: 18px;
}
